#!/bin/bash
#
# tomcat7     This shell script takes care of starting and stopping Tomcat
#
# chkconfig: - 80 20
#
### BEGIN INIT INFO
# Provides: tomcat7
# Required-Start: $network $syslog
# Required-Stop: $network $syslog
# Default-Start:
# Default-Stop:
# Description: Release implementation for Servlet 2.5 and JSP 2.1
# Short-Description: start and stop tomcat
### END INIT INFO

source /etc/environment
export PATH="$JAVA_HOME/bin:$PATH"
export JAVA_OPTS="-Xms512m -Xmx512m -XX:NewSize=256m -XX:MaxNewSize=356m -XX:PermSize=256m -XX:MaxPermSize=356m" 
CATALINA_HOME=/usr/local/tomcat7
      
case $1 in  
 start)  
  sh $CATALINA_HOME/bin/startup.sh 
  ;;   
 stop)     
  sh $CATALINA_HOME/bin/shutdown.sh  
  ;;   
 restart)  
  sh $CATALINA_HOME/bin/shutdown.sh  
  sh $CATALINA_HOME/bin/startup.sh 
  ;;   
esac      
exit 0;
